* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top left, #5146e5, transparent 35%),
        radial-gradient(circle at bottom right, #00c6a7, transparent 35%),
        #10121c;
}

/* Calculator Box */

.calculator {
    width: 350px;
    padding: 22px;
    border-radius: 30px;

    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(20px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.5),
        inset 0 1px 1px rgba(255, 255, 255, 0.15);
}

/* Top */

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    letter-spacing: 3px;

    margin-bottom: 18px;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;

    background: #00e5b0;

    box-shadow: 0 0 15px #00e5b0;
}

/* Display */

.display {
    height: 125px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    border-radius: 22px;

    background: rgba(0, 0, 0, 0.25);

    margin-bottom: 18px;

    overflow: hidden;
}

#previous {
    color: rgba(255, 255, 255, 0.45);
    font-size: 16px;

    min-height: 22px;
}

#current {
    color: white;
    font-size: 43px;
    font-weight: bold;

    max-width: 100%;
    overflow: hidden;
}

/* Buttons */

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
}

button {
    height: 58px;

    border: none;
    border-radius: 17px;

    background: rgba(255, 255, 255, 0.09);
    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;

    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.08);
}

button:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.18);
}

button:active {
    transform: scale(0.94);
}

/* Special Buttons */

.special {
    color: #ff6b9d;
}

.operator {
    color: #00e5b0;
    background: rgba(0, 229, 176, 0.08);
}

/* Equal */

.equal {
    background: linear-gradient(135deg, #6c63ff, #8b5cf6);

    color: white;

    box-shadow:
        0 8px 20px rgba(108, 99, 255, 0.35);
}

.equal:hover {
    background: linear-gradient(135deg, #7c74ff, #9b6cff);
}

/* Zero Button */

.zero {
    grid-column: span 2;
}

/* Footer */

.footer {
    text-align: center;

    color: rgba(255, 255, 255, 0.35);

    font-size: 11px;
    letter-spacing: 2px;

    margin-top: 18px;
}

/* Mobile */

@media (max-width: 400px) {

    .calculator {
        width: 92%;
        padding: 18px;
    }

    button {
        height: 54px;
    }

    #current {
        font-size: 36px;
    }
}